<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="style.css" />
</head>

<body>
    <div class="card">
        <h1>問卷調查</h1>
        <form action="/submit" method="post" enctype="multipart/form-data">
            <label for="gender">性別 :</label>
            <input type="radio" id="gender" name="gender" value="Male" ><label for="Male">男生</label>
            <input type="radio" id="gender" name="gender" value="Female" ><label for="Female">女生</label>

            <br><br>

            <label for="BMI">BMI：</label>
            <input type="radio" id="BMI" name="BMI" value="25"><label for="25">BMI<24 </label>
            <input type="radio" id="BMI" name="BMI" value="55"><label for="55">24<=BMI<27 </label>
            <input type="radio" id="BMI" name="BMI" value="85"><label for="85">27<=BMI<30 </label>
            <input type="radio" id="BMI" name="BMI" value="85"><label for="85"> 30<=BMI<35 </label>
            <input type="radio" id="BMI" name="BMI" value="85"><label for="85">BMI>=35 </label>

            <br><br>

            <label for="hours">平均睡眠時間:</label>
            <input type="radio" id="hours" name="hours" value="4"><label for="4">小於6小時</label>
            <input type="radio" id="hours" name="hours" value="6"><label for="6">約6小時</label>
            <input type="radio" id="hours" name="hours" value="7"><label for="7">約7小時</label>
            <input type="radio" id="hours" name="hours" value="8"><label for="8">約8小時</label>
            <input type="radio" id="hours" name="hours" value="10"><label for="10">多於8小時</label>

            <br><br>

            <label for="activity">身體活動量:</label>
            <input type="number" name="activity">

            <br><br>

            <input type="submit" value="submit">
        </form>

        <br>

        <div>
            <p>{{confirm}}</p>
        </div>
    </div>
</body>

</html>